@import url('space-grotesk.css');

:root {
  font-family: 'SpaceGrotesk-Variable';
  font-family: 'SpaceGrotesk-Regular';
  font-family: 'SpaceGrotesk-SemiBold';
  font-family: 'SpaceGrotesk-Bold';

  --primary-color: rgb(255, 252, 224);
  --secondary-color: rgb(18, 18, 18);

  --border-color: rgb(76, 75, 66);
  --accent-color: rgb(252, 125, 227);

  --nav-padding: 275px;
  --outer-padding: 75px;
  --inner-padding: 25px;
  --max-width: 1700px;

  --linear-grad-overlay: linear-gradient(to left, rgba(18, 18, 18, .1), rgba(18, 18, 18, .9), rgba(18, 18, 18, 1));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;

  overflow-x: hidden !important;
}

section {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

strong {
  font-family: 'SpaceGrotesk-Bold';
}

h1, h2, h3, p {
  margin: 0;
  font-family: 'SpaceGrotesk-Regular';
}

h1 {
  font-size: 32px;
  font-family: 'SpaceGrotesk-Bold';
}

h2 {
  font-size: 24px;
  font-family: 'SpaceGrotesk-Bold';
}

h3 {
  font-size: 20px;
  font-family: 'SpaceGrotesk-Bold';
}

p {
  font-size: 16px;
}

.maxwidth-container {
  max-width: var(--max-width);
}

.custom-container {
  box-sizing: border-box;
  padding-top: 105px;
  padding-inline: 275px;
}

.inner-container-half {
  width: 50%;
  flex-direction: column;
  gap: var(--inner-padding);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 15px;
  opacity: 25%;
  transition: .2s;
  font-family: 'SpaceGrotesk-Bold';
}

li:hover {
  opacity: 100%;
  transition: .2s;
}

li>a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  margin: 0;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

/* About */

.about--container {}

.about--inner {
  gap: 25px;
}

.about--text {}

.about--inner>img {
  max-width: 291px;
  height: 310px;
  display: flex;
  align-self: center;
}

.about--icon-text>i {
  font-size: 30px;
}

.about--icon-text {
  align-items: center;
  gap: 25px;
}

/* Header */

header {
  position: absolute;
  height: 75px;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 2;

  transition: .5s;

  opacity: 0;
}

.header--contents {
  justify-content: space-between;
  max-width: calc(var(--max-width) - calc(2 * var(--outer-padding)));
  padding-inline: var(--outer-padding);
}

.header--contents>a>img {
  height: 20px;
}

/* Landing */

.landing--container {
  margin: 0;
  padding-top: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s;
}

.landing--name-text>img {
  width: 300px;
}

.landing--container>i {
  position: absolute;
  bottom: 0;
  padding-bottom: var(--inner-padding);
  font-size: 24px;
}

.landing--name-text {
  gap: 100px;
}

.landing--name-text>p {
  text-align: left;
  font-size: 24px;
  font-family: 'SpaceGrotesk-Regular';
  color: var(--font-color);
}

/* Nav */
nav {
  position: absolute;
  height: 100vh;
  width: 275px;
  font-size: 30px;

  z-index: 1;

  opacity: 0;
}

.nav--container {
  margin-top: 100px;
  padding: 0 75px;
}

.nav--max-width {
  max-width: 1800px;
}

.nav--outer-container {
  width: 100vw;
}

/* Projects */

#coachs-corner>.projects--item-thumbnail {
  background-image:
    var(--linear-grad-overlay),
    url('../assets/coachs-corner.png');

}

#catshack>.projects--item-thumbnail {
  background-image:
    var(--linear-grad-overlay),
    url('../assets/catshack.png');
}

#angelines-garden>.projects--item-thumbnail {
  background-image:
    var(--linear-grad-overlay),
    url('../assets/angelines-garden.png');
}

.projects--inner-container {
  flex-direction: column;
  gap: var(--inner-padding);
  max-width: calc(100vw - calc(2 * var(--nav-padding)));
}

.projects--contents-container {
  box-sizing: border-box;
  gap: var(--inner-padding);
  margin-bottom: var(--inner-padding);
}

.projects--filter {
  position: fixed;
  height: 100vh;
  font-size: 22px;
  right: 0;
  margin-right: 75px;
  text-align: right;
}

.projects--filter>ul>li {
  margin-bottom: 5px;
  margin-top: 0;
}

.active > a {
  opacity: 100%;
}

.projects--item-full {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.projects--item-full:hover {
  scale: 1.01;
}

.projects--item-thumbnail {
  position: relative;
  box-sizing: border-box;
  min-height: 220px;
  height: auto;
  padding: var(--inner-padding);
  padding-bottom: calc(2 * var(--inner-padding));
  background-repeat: no-repeat;
  background-size: cover;
}

.projects--item-thumbnail>p {
  width: 50%;
  margin-block: var(--inner-padding);
}

.projects--item-thumbnail>h3 {
  position: absolute;
  bottom: 0;
  margin-bottom: var(--inner-padding);
  margin-right: var(--inner-padding);
  color: var(--border-color);
}

.projects--item-contents {
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
  padding: var(--inner-padding);
  transition: width .2s;
}

.projects--inner-container-grid {
  flex-direction: column;
  width: 100%;
}

.projects--item-half {
  background-color: aquamarine;
  border: 1px solid var(--border-color);
  width: 50%;
  height: auto;
}

.projects--header {
  gap: var(--inner-padding);
}

.projects--header>hr {
  width: 100%;
  border-width: 1px;
  border-color: var(--border-color);
}

.projects--tools {
  display: flex;
  flex-wrap: wrap;
  gap: var(--inner-padding);
}

.projects--tools>img {
  width: 50px;
  height: auto;
}

.projects--gallery {
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: calc(var(--inner-padding) / 2);
  width: 100%;
}

.projects--gallery-wrapper {
  height: auto;
  width:  33.33%;
  height: 150px;
}

.projects--gallery-wrapper > div {
  height: 100%;
  width: 100%;

  border: 1px solid var(--border-color);
  background-size: cover;
}

.projects--visit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: 'SpaceGrotesk-Bold';
  background-color: var(--accent-color);
  width: 150px;
  height: 40px;
  border: none;
  gap: var(--inner-padding);
}

.projects--visit-button > i {
  rotate: -45deg;
}

.projects--footer {
  width: 100%;
  position: relative;
  height: 40px;
  margin-top: var(--inner-padding);
}

.projects--closer {
  font-size: 28px;
  color: var(--accent-color);
}

/* Contact */

.contact--container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding-top: 0;*/
}

.contact--inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact--container-resume {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact--container-resume>button {
  border-style: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  height: 50px;
  width: 30%;
  max-width: 250px;
  min-width: 200px;
  font-family: inherit;
  transition: .2s;
}

.contact--container-resume>button:hover {
  scale: 1.01;
  transition: .2s;
}

@media screen and (max-width: 425px) {
  .about--inner>img {
    width: 100%;
    height: auto;
  }
  .projects--gallery {
    flex-direction: column;
  }

  .projects--gallery-wrapper {
    width: 100% !important;
  }
}

@media screen and (max-width: 425px) {
  .about--inner>img {
    width: 100%;
    height: auto;
  }
  .projects--gallery {
    flex-direction: column;
  }

  .projects--gallery-wrapper {
    width: 100% !important;
  }
}

/* Tablet & Smaller Adjustments */
@media screen and (max-width: 768px) {

  nav {
    width: 0;
  }

  .nav--container {
    display: none;
    width: 0;
  }

  .custom-container {
    padding-inline: var(--inner-padding);
  }

  .projects--filter {
    display: none;
  }

  .header--contents {
    padding-inline: var(--inner-padding);
  }

  .about--inner {
    flex-direction: column;
  }

  .projects--inner-container {
    max-width: calc(100vw - calc(2 * var(--inner-padding)));
  }

  .projects--gallery {
    padding-bottom: var(--inner-padding);
  }

  .projects--gallery-wrapper {
    width: calc(50% - var(--inner-padding));
  }

}

/* Small laptop Adjustments */
@media screen and (max-width: 1024px) {

  :root {
    --linear-grad-overlay: linear-gradient(to left, rgba(18, 18, 18, .5), rgba(18, 18, 18, .9), rgba(18, 18, 18, 1));
  }

  .contact--inner-container {
    flex-direction: column;
  }

  .projects--item-thumbnail>p,
  .projects--item-contents,
  .inner-container-half {
    width: 100%;
  }

  section {
    width: 100vw;
  }

  .projects--contents-container {
    flex-direction: column;
  }
}
